%header
  %h1
    %a{ :href => '/' }
      The Ramsey
      %em Philosophy of Biology
      Lab
  %h2
    at the Department of Philosophy & the Program in History
    %br<>
    and Philosophy of Science at the University of Notre Dame

%nav
  %ul
    %li= link_to 'People', '/people.html'
    %li= link_to 'Research', '/research.html'
    %li= link_to 'Papers', '/papers.html'
    %li= link_to 'Teaching', '/teaching.html'
    %li= link_to 'News', '/news.html'
    %li= link_to 'About', '/about.html'
