%header
  %h1
    %a{ :href => '/' }
      The Ramsey
      %em Philosophy of Biology
      Lab
  %h2
    at the Department of Philosophy & the Program in History
    %br<>
    and Philosophy of Science at the University of Notre Dame

%nav
  %ul
    %li{ :class => (data.page.unique && data.page.unique == 'people') ? 'active' : nil }= link_to 'People', '/people.html'
    %li{ :class => (data.page.unique && data.page.unique == 'research') ? 'active' : nil }= link_to 'Research', '/research.html'
    %li{ :class => (data.page.unique && data.page.unique == 'papers') ? 'active' : nil }= link_to 'Papers', '/papers.html'
    %li{ :class => (data.page.unique && data.page.unique == 'teaching') ? 'active' : nil }= link_to 'Teaching', '/teaching.html'
    %li{ :class => (data.page.unique && data.page.unique == 'news') ? 'active' : nil }= link_to 'News', '/news.html'
    %li{ :class => (data.page.unique && data.page.unique == 'about') ? 'active' : nil }= link_to 'About', '/about.html'
