!!! 5
!= cc_html(:lang => 'en') do  
  %head
    %meta{ :charset => 'utf-8' }/
    %meta{ :name => 'viewport', :content => 'width=device-width' }/
    %title= data.page.title || 'Ramsey Lab'
    = stylesheet_link_tag 'app'
    
    :css
      <!--[if lt IE 8]>
        <link rel="stylesheet" href="stylesheets/general_enclosed_foundicons_ie7.css">
      <![endif]-->
    
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "/favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "/favicon.ico" }

    = javascript_include_tag 'modernizr'

  %body{ :id => data.page.unique ? data.page.unique : 'nonunique' }
    = partial 'layouts/header'
    
    .row
      .small-12.columns#main-content
        = yield

    %footer/
    = javascript_include_tag 'app'
